#include <windows.h>
#include "main.h"

501 MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "Basic PHC > TXT", IDM_FILEPHC2TXT
		MENUITEM "Basic TXT > PHC", IDM_FILETXT2PHC
		MENUITEM "E&xit", IDM_FILEEXIT
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&About...", IDM_HELPABOUT
	END
END
